/target

# device tree files, I use them for debugging
*.dts
*.dtb

# these configs are specific to me
.lldbinit
.gdbinit

# disk files
*.img
*.qcow2

# generated objects files
*.o

# editor specific files
# keep your configs to yourself, and I will keep mine to myself
/.idea
/.vscode
/.helix
/.zed
